/**
 * User Styles  
 *
 * @author		Harald Szekely 
 * @copyright	2011 WoltLab GmbH 
 */

/* ############## User ############## */

/* none */



/* ############## Recent Activity ############## */

/* Globals */

.recentActivity {
	line-height: 1.5;
}

.recentActivity li {
	border-bottom: 1px solid rgba(204, 204, 204, 1);
	background-color: rgba(0, 0, 0, .015);
	padding: 7px;
}

.recentActivity li:after {
	content: '';
	display: block;
	clear: both;
}

.recentActivity > li:nth-child(2n+1) {
	/* auto-colorer for every 2nd row */
	background-color: rgba(0, 0, 0, .0);
}

.recentActivity > li:hover {
	background-color: rgba(0, 0, 0, .05);
}

.recentActivity li img {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 1px;
	float: left;
	width: 32px;
	height: 32px;
}

.recentActivity li > .recentActivityContent {
	padding-left: 65px;
	position: relative;
}

.recentActivity li > .recentActivityContent .userName time {
	font-size: 85%;
	color: rgb(153, 153, 153);
}

.recentActivity li > .recentActivityContent .userActivity {
	margin-top: 7px;
}

/* EOF */
