/**
 * User Styles  
 *
 * @author		Harald Szekely 
 * @copyright	2011 WoltLab GmbH 
 */

/* ############## User ############## */

/* none */



/* ############## User Avatar ############## */

/* Globals */

.userAvatar {
	/* none */
}

.userAvatar img {
	border: 1px solid rgba(204, 204, 204, 1);
	background-color: rgba(255, 255, 255, 1);
	padding: 1px;
}

/* Special */

.recentActivity .userAvatar img  {
	float: left;
}

.commentList .userAvatar img  {
	float: left;
}



/* ############## User Avatar ############## */

.sidebar .userAvatarOriginal {
	text-align: center;
	padding: 5px 25px;
}

.sidebar .userFollowing ul,
.sidebar .userFollowers ul {
	margin: 0 25px;
	white-space: normal;
}

.sidebar .userFollowing .userAvatar,
.sidebar .userFollowers .userAvatar {
	display: inline-block !important;
}

.sidebar .userFollowing .userAvatar a,
.sidebar .userFollowers .userAvatar a {
	display: inline-block !important;
	padding: 3px 0 0;
}

.sidebar .userFollowing .badgeButton,
.sidebar .userFollowers .badgeButton {
	margin: 15px 15px 0;
	float: right;
}



/* ############## Recent Activity ############## */

/* Globals */

.recentActivity {
	line-height: 1.5;
}

.recentActivity > li {
	border-top: 1px solid rgb(204, 204, 204);
	background-color: rgba(0, 0, 0, .015);
	padding: 7px;
}

.recentActivity > li:after {
	content: '';
	display: inline-block;
	clear: both;
}

.recentActivity > li:first-child {
	border-top-width: 0;
}

.recentActivity > li:nth-child(2n+1) {
	/* auto-colorer for every 2nd row */
	background-color: rgba(0, 0, 0, .0);
}

.recentActivity > li:hover {
	background-color: rgba(0, 0, 0, .05);
}

.recentActivity > li > .recentActivityContent {
	padding-left: 65px;
	position: relative;
}

.recentActivity > li > .recentActivityContent .userName time {
	font-size: 85%;
	color: rgb(153, 153, 153);
}



/* ############## Profile Comments ############## */

/* ToDo: Simplify this mess and make it similar to the recent activities */

/* Globals */

.commentList .userName {
	display: block;
}

.commentList .userName time {
	font-size: 85%;
	color: rgb(153, 153, 153);
}

/* Comment List */

.commentList {
	line-height: 1.5;
}

.commentList > li {
	border-top: 1px solid rgb(204, 204, 204);
	padding: 7px;
	display: inline-block;
	width: 100%;
}

.commentList > li:after {
	content: '';
	display: block;
	clear: inline-both;
}

.commentList > li:first-child {
	border-top-width: 0;
}

/* Comment Add */

.commentList > li.commentAdd > div img {
	margin-left: 25px;
	float: left;
}

.commentList > li.commentAdd > div > div {
	margin-left: 65px;
}

.commentList > li > .commentContent {
	margin-left: 65px;
	position: relative;
}

/* Description Texts */
.commentList > li > .commentContent small {
	font-size: 85%;
	color: rgb(192, 192, 192);
	margin-top: 3px;
}

.commentList > li > .commentContent .commentResponseAdd {
	border-top: 1px solid rgb(204, 204, 204);
	background-color: rgba(0, 0, 0, .015);
	margin-top: 7px;
	padding: 7px;
}

.commentList > li > .commentContent .commentResponseAdd > div img {
	margin-left: 10px;
	float: left;
}

.commentList > li > .commentContent .commentResponseAdd > div .userAvatar img {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 1px;
}

.commentList > li > .commentContent .commentResponseAdd > div > div {
	margin-left: 50px;
	display: block;
}



/* Comment Response List */

.commentList > li .commentResponseList {
	margin-top: 7px;
}

.commentList > li .commentResponseAdd ~ .commentResponseList {
	margin-top: 0;
}

.commentList > li .commentResponseList > li {
	border-top: 1px solid rgb(204, 204, 204);
	background-color: rgba(0, 0, 0, .015);
	padding: 7px;
	position: relative;
}

.commentList > li .commentResponseList > li:nth-child(2n+1) {
	/* auto-colorer for every 2nd row */
	background-color: rgba(0, 0, 0, .0);
}

.commentList > li .commentResponseList > li > .commentContent {
	margin-left: 50px;
	position: relative;
}



/* Comment Options */

.commentContent > .commentOptions,
.commentResponseList > li .commentOptions {
	font-size: 85%;
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
}

.commentContent > .commentOptions > li,
.commentResponseList > li .commentOptions > li {
	opacity: 0;
	
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-ms-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

.commentContent:hover > .commentOptions > li,
.commentResponseList > li:hover .commentOptions > li {
	opacity: 1; 
}

.commentContent > .commentOptions > li a,
.commentResponseList > li .commentOptions li a {
	color: rgb(153, 153, 153);
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
}



/* Toggle Comments Links */

.commentResponsePrevious,
.commentResponseRecent {
	text-align: right;
	color: rgb(153, 153, 153);
	cursor: pointer;
	margin-top: 7px;
}






/* ToDo: Profile Button */

#profileButtonContainer {
	text-align: center;
}


/* -- -- -- -- -- EOF -- -- -- -- -- */
