/**
 * User Styles  
 *
 * @author		Harald Szekely 
 * @copyright	2011 WoltLab GmbH 
 */

/* ############## User ############## */

/* none */



/* ############## Recent Activity ############## */

/* Globals */

.recentActivity {
	width: 100%;
}

.recentActivity li {
	border-bottom: 1px solid rgb(192, 192, 192);
	display: table;
	width: 100%;
}

.recentActivity li > div {
	background-color: rgba(0, 0, 0, .3);
	background-image: -webkit-linear-gradient(transparent, rgba(224, 224, 224, 1));
	background-image: -moz-linear-gradient(transparent, rgba(224, 224, 224, 1));
	background-image: -o-linear-gradient(transparent, rgba(224, 224, 224, 1));
	background-image: -ms-linear-gradient(transparent, rgba(224, 224, 224, 1));
	background-image: linear-gradient(transparent, rgba(224, 224, 224, 1));
	
	display: table-row;
}

.recentActivity li > div > p {
	padding: 3px;
	display: table-cell;
}

.recentActivity li > div > p:first-child {
	width: 48px;
}

.recentActivity li > div > p > span {
	display: block;
}

.recentActivity li > div > p > span:last-child {
	font-size: 85%;
	color: rgb(153, 153, 153);
	margin-top: 3px;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.recentActivity li:hover > div > p > span:last-child {
	color: rgb(102, 102, 102);
}

/* Avatar */

.recentActivity li p:first-child img {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 1px;
}

.recentActivity li p:first-child img {
	opacity: .5;
	
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.recentActivity li:hover p:first-child img {
	opacity: 1;
}

/* EOF */
