/**
 * User Styles  
 *
 * @author		Harald Szekely 
 * @copyright	2011 WoltLab GmbH 
 */

/* ############## User ############## */

/* none */


/* ############## User Avatar ############## */

.wcf-sidebar .userAvatarOriginal {
	text-align: center;
	padding: 5px 25px;
}

.wcf-sidebar .userFollowing ul,
.wcf-sidebar .userFollowers ul {
	margin: 0 25px;
	white-space: normal;
}

.wcf-sidebar .userFollowing .userAvatar,
.wcf-sidebar .userFollowers .userAvatar {
	display: inline-block !important;
}

.wcf-sidebar .userFollowing .userAvatar a,
.wcf-sidebar .userFollowers .userAvatar a {
	display: inline-block !important;
	padding: 3px 0 0;
}

.wcf-sidebar .userFollowing .wcf-badgeButton,
.wcf-sidebar .userFollowers .wcf-badgeButton {
	margin: 15px 15px 0;
	float: right;
}



/* ############## User Notifications ############## */

/* ToDo: 

Be careful with the following classes! 
 - [.scrollableContainer] Don't touch!
 - [.scrollableItems] Keep the inflated width, you may lower its number but it must be incredible bloated
 - [.scrollableItems > div] Must be a fixed-width float, otherwise it would break the "scrollable"-class from jQueryTools. 
 	Do NOT use css-tables or [display: inline-block] as it won't work with the whole magic

*/

/* ToDo: User Notification Container */

.userNotificationContainer {
	width: 240px;
	z-index: 500; /* adjust to any value you like, it *MUST* be higher than 'header.pageHeader nav.topMenu' */
	overflow: hidden;
}

/* ToDo: Scrollable Container (jQueryTools - do not modify the class-name!) */

.scrollableContainer {
	position: relative;
	width: 250px;
	overflow: hidden;
}

.scrollableContainer .scrollableItems {
	position: relative;
	width: 20000em;
}

.scrollableContainer .scrollableItems > div {
	border-right: 1px solid rgba(192, 192, 192, 1);
	float: left;
	width: 250px;
}

.scrollableContainer {
	font-size: 90%;
}

.scrollableContainer > div:first-child ul {
	margin: 0;
	padding: 0;
}

.scrollableContainer > div:first-child li {
	border-top: 1px solid rgba(192, 192, 192, 1);
	cursor: pointer;
	padding: 7px;
}

.scrollableContainer > div:first-child li:first-child {
	border-top-width: 0;
}

.scrollableContainer > div:first-child p {
	padding: 0 1px;
}

/* ToDo: User Notification Details */

.userNotificationDetails {
	padding: 7px;
	width: 236px;
}

.userNotificationDetails header {
	margin-bottom: 7px;
	display: table;
	width: 100%;
}

.userNotificationDetails .row {
	display: table-row;
}

.userNotificationDetails .row div {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.userNotificationDetails .row div:first-child {
	width: 64px;
}

.userNotificationDetails .row div:last-child {
	padding-left: 7px;
}

.userNotificationDetails .avatar img {
	height: 64px;
	width: 64px;
}

.userNotificationDetails h1 {
	font-size: 110%;
}

.userNotificationDetails section {
	border-top: 1px solid rgba(192, 192, 192, 1);
	padding-top: 7px;
}

.userNotificationDetails nav {
	text-align: center;
	border-top: 1px solid rgba(192, 192, 192, 1);
	margin-top: 7px;
	padding-top: 7px;
}

.userNotificationDetails ul {
	list-style-type: none;
	display: inline-block;
}

.userNotificationDetails li {
	cursor: pointer;
	border: 1px solid rgba(192, 192, 192, 1) !important;
	padding: 3px;
	display: inline-block;
}

/* User Notification Details Loading */

#userNotificationDetailsLoading {
	background-color: rgba(255, 255, 255, .5);
	background-image: url('{../../icon/spinner1.svg');
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;
	position: absolute;
}



/* ############## Recent Activity ############## */

/* Globals */

.wcf-recentActivity {
	line-height: 1.5;
}

.wcf-recentActivity > li {
	border-top: 1px solid rgb(204, 204, 204);
	background-color: rgba(0, 0, 0, .015);
	margin-top: 0;
	padding: 7px;
}

.wcf-recentActivity > li:first-child {
	border-top-width: 0;
}

.wcf-recentActivity > li:nth-child(2n+1) {
	/* auto-colorer for every 2nd row */
	background-color: rgba(0, 0, 0, .0);
}

.wcf-recentActivity > li:hover {
	background-color: rgba(0, 0, 0, .05);
}

.wcf-recentActivity > li .username time {
	font-size: 85%;
	color: rgba(153, 153, 153, 1);
}



/* ############## Profile Comments ############## */

/* Globals */

.wcf-commentList {
	line-height: 1.5;
}

.wcf-commentList .username time {
	font-size: 85%;
	color: rgba(153, 153, 153, 1);
}

.wcf-commentList .wcf-containerContent small {
	font-size: 85%;
	color: rgba(192, 192, 192, 1);
	margin-top: 3px;
}

/* Comment List */

.wcf-commentList > .wcf-container {
	border-top: 1px solid rgba(204, 204, 204, 1);
	padding: 7px;
}

.wcf-commentList > .wcf-container:first-child {
	border-top-width: 0;
}

/* Comment Add */

.wcf-commentAdd .wcf-containerIcon {
	margin-left: 2em;
}

.wcf-commentResponseAdd {
	border-top: 1px solid rgba(204, 204, 204, 1);
	background-color: rgba(0, 0, 0, .015);
	margin-top: 7px;
	padding: 7px;
}

.wcf-commentResponseAdd .wcf-containerIcon {
	margin-left: 10px;
}



/* Comment Response List */

.wcf-commentResponseList {
	margin-top: 7px;
}

.wcf-commentResponseAdd ~ .wcf-commentResponseList {
	margin-top: 0;
}

.wcf-commentResponseList > .wcf-container,
.wcf-commentResponseList > div > .wcf-container {
	border-top: 1px solid rgba(204, 204, 204, 1);
	background-color: rgba(0, 0, 0, .015);
	padding: 7px;
}

.wcf-commentResponseList > .wcf-container:nth-child(2n+1) {
	/* Auto-colorer for every 2nd row */
	background-color: rgba(0, 0, 0, .0);
}



/* Comment Options */

.wcf-commentContent > .wcf-commentOptions,
.wcf-commentResponseList > li .wcf-commentOptions {
	font-size: 85%;
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
}

.wcf-commentContent > .wcf-commentOptions > li,
.wcf-commentResponseList > li .wcf-commentOptions > li {
	opacity: 0;
	
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-ms-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

.wcf-commentContent:hover > .wcf-commentOptions > li,
.wcf-commentResponseList > li:hover .wcf-commentOptions > li {
	opacity: 1; 
}

.wcf-commentContent > .wcf-commentOptions > li a,
.wcf-commentResponseList > li .wcf-commentOptions li a {
	color: rgba(153, 153, 153, 1);
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
}



/* Toggle Comments Links */

.wcf-commentResponsePrevious,
.wcf-commentResponseRecent {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wcf-commentResponsePrevious a,
.wcf-commentResponseRecent a {
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 13px;
	display: inline-block;
	width: 15%;
	min-width: 150px;
}



/* ToDo: Profile Button */

#profileButtonContainer {
	text-align: center;
}


/* -- -- -- -- -- EOF -- -- -- -- -- */
